html{
    height: 100%;
} 

body{
    font-family: Arial, Helvetica, sans-serif; 
    height: 100%;
    background: #133060;
} 

.block{
    margin: auto auto;
    width: 85%;

} 
.create__input_head{
    color:white;
} 
.create__input{ 
    border: none;
    background: #ffffff; 
    padding: 10px; 
    color: #133060; 
    border-radius: 20px; 
    margin:5px 5px; 
    height: 25px;
}
.create__input_title{ width: 250px; } 
.create__input_number { 
    width: 120px;
}
.create__input::placeholder{
    color: #133060;
    opacity: .3;
} 
.create__input:focus{
    outline: none; 
}


.button{
    cursor: pointer; border: none;
    color: white; font-weight: 500; padding: 10px; border-radius: 20px;
    margin:5px 5px;
} 
.button:focus{  outline : none;} 


.button__create{
    background: #e0da10;
}
.button__clear{
    background: #777777;
}
.button__remove{ 
    background: #ff0000;
    border-radius: inherit;
} 

.card{
    background: white; border-radius: 20px; padding: 0;
    margin-top: 15px;
    } 
.card__item{ 
    padding: 20px;
    border-bottom: solid;
}

.card__item:last-child{ border: none; } 
.card__head{ padding: 10px;
margin: 0;
} 

.padding-30 { 
    padding: 30px;
}